body {
  background-image: url('./background.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

* {
  margin: 0;
  padding: 0;
}
.main_title{
  font-size: 50px;
  font-weight: bold;
  width: auto;
  height: 70px;
  margin: 50px auto;
  padding: 30px auto;
  text-align: center;
}
.title {
  font-size: 48px;
  font-weight: bold;
  width: auto;
  height: 450px;
  margin: 0 auto;
  padding-top: 380px;
  /* outline: 2px solid tomato; */
  text-align: center;
  color: white;
}
#play {
  margin: 20px auto 300px;
  /* outline: 2px solid tomato; */
  height: 70px;
  font-size: 40px;
}
.btns {
  width: 80px;
  height: 30px;
  margin: 0 auto;
}
.btns span {
  font-family: "微軟雅黑";
  font-size: 14px;
  line-height: 27px;
  display: block;
  float: left;
  width: 80px;
  height: 27px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 7px;
  background: #036;
}


.input-group {
display: flex;
flex-flow:column wrap;
align-content:center;
/* outline: 2px solid black; */
}
.form-control {
  width: 160px;
  height: 300px;
  margin-top: 30px;
}
.row {
  /* height: 550px; */
  /* outline: 4px solid gray; */
  margin-top: 30px;
}